<% if current_user %>
	<h6>Add A New Recipe!</h6>

	<div class="submitted-recipes">
		<%= form_for (@recipe) do |f| %>

		<h5><%= f.label :name, 'Name' %></h5>
		<h5><%= f.text_field :name %></h5>

		<h5><%= f.label :ingredients, 'Ingredients' %></h5>
		<h5><%= f.text_field :ingredients %></h5>

		<h5><%= f.label :steps, 'Steps' %></h5>
		<h5><%= f.text_field :steps %></h5>

	  <h5><%= f.label :category, 'Category' %></h5>
		<h5><%= f.text_field :category %></h5>

		<h5><%= f.label :picture %></h5>
		<h5><%= f.file_field :picture %></h5>

		<h5><%= f.submit 'Add Recipe' %></h5>
		<% end  %>
	</div>
<% else %>
	<h1>Please sign in to add a new recipe!</h1>
<% end %>
