<!DOCTYPE html>
<html>
<head>
  <title>LuvGrub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'application'%>

  <%= csrf_meta_tags %>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins');
</style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118597490-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-118597490-1');
  </script>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="topnav">
      <a class="active" href="/">Home</a>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">

    <% if user_signed_in? %>

    <li><%= link_to 'Add A New Recipe To The Mix!', new_recipe_path %></li>
    <li><%= link_to 'View Liked Recipes!', preferences_path %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
  <ul class="right">
    <li><%= current_user[:name] %></li>





    <% else %>

    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <% end %>

    </ul>

  </section>
</nav>

  <% if !flash.empty? %>
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <div class="flash panel callout text-center">

          <%- flash.each do |key, value| -%>
            <div class="flash flash-<%= key %>">
              <%= value %>
            </div>
          <%- end -%>

          </div>
        </div>
      </div>
    <% end %>
    </li>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>

  </body>
</html>
